<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <title>STREAMING</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <h3 class="mt-5">Live Streaming</h3>
          <img src="{{ url_for('Stream') }}" width="100%" />
          <button onclick="captureScreenshot()" class="btn btn-primary mt-3">
            Capture Screenshot
          </button>
          <button onclick="detectObjects()" class="btn btn-secondary mt-3">
            YOLOv5 Detection
          </button>
          <button onclick="recognizeText()" class="btn btn-secondary mt-3">
            Recognize Text
          </button>
          <button onclick='checkBookPlacement()' class="btn btn-secondary mt-3">
            Check Book Placement
          </button>
        </div>
        <div class="col-lg-8 offset-lg-2">
          <div id="result" class="text-center mt-3"></div>
          <div id="recognition-result" class="text-center mt-3"></div>
        </div>
      </div>
    </div>

    <script>
      function captureScreenshot() {
        fetch("/capture")
          .then((response) => {
            if (response.ok) {
              alert("Screenshot captured and saved!");
            } else {
              alert("Failed to capture screenshot");
            }
          })
          .catch((error) => {
            console.error("Error capturing screenshot : ", error);
            alert("Failed to capture screenshot");
          });
      }
      function detectObjects() {
        fetch("/detect", {
            method: "POST",
            body: JSON.stringify({image_path: "live_stream\\images\\screenshot.jpg"}),
            headers: {
                "Content-Type": "application/json"
            }
        })
        .then(response => response.blob())
        .then(blob => {
            const url = window.URL.createObjectURL(blob);
            const img = document.createElement("img");
            img.src = url;
            document.getElementById("result").appendChild(img);
        });
      }
    
      function recognizeText() {
        fetch("/ocr", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            }
        })
        .then(response => response.json())
        .then(data => {
          const resultDiv = document.querySelector('#recognition-result');
          resultDiv.innerHTML = '<ul>' + data.texts.map(text => `<li>${text}</li>`).join('') + '</ul>';
        });
      }

      function checkBookPlacement() {
        fetch("/check_placement", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.is_correct) {
                alert("Books are correctly placed.");
            } else {
                alert("Books are not correctly placed.");
            }
        })
        .catch(error => {
            console.error("Error checking book placement: ", error);
            alert("Failed to check book placement");
        });
      }
    </script>
  </body>
</html>
